Repository Nomadcxx/searxng-RAMA: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ai-content, check-secrets

check-ai-content:
  name: Check for AI-generated content patterns
  entry: scripts/check-ai-content.sh
  language: script
  pass_filenames: false
  always_run: false

check-secrets:
  name: Check for hardcoded secrets
  entry: scripts/check-secrets.sh
  language: script
  pass_filenames: false
  always_run: false

Bump package release version for AUR
  .SRCINFO
  PKGBUILD
Due: none

Update package description and improve README layout
  PKGBUILD
  README.md
Due: check-ai-content

Bump package release version to 3
  PKGBUILD
Due: none

Update README.md
  README.md
Due: check-ai-content

fix(rama): address QA audit — contrast, prefixes, specificity, escaping, dead CSS
  PKGBUILD
  docs/redesign/check-contrast.py
  theme/google/definitions.less
  theme/rama/definitions.less
  theme/rama/rama.less
  theme/rama/templates/index.html
  theme/rama/templates/results.html
Due: check-secrets

feat: add theme switching option without reinstall
  cmd/rama-installer/main.go
Due: check-secrets

docs: add audit, plan-of-record, redesign spec, prototype + contrast gate
  AGENTS.md
  docs/audit-2026-07-23.md
  docs/plan-of-record-2026-07-23.md
  docs/plans/2026-01-19-multi-theme-implementation.md
  docs/plans/2026-07-23-rama-redesign-implementation.md
  docs/plans/multi-theme-design-plan.md
  docs/redesign/prototype.html
Due: check-ai-content

fix(rama): restore approved searxng/rama wordmark lockup
  theme/rama/rama.less
  theme/rama/templates/index.html
Due: none

feat: add theme application to installation tasks
  cmd/rama-installer/main.go
Due: check-secrets

feat: add theme data structure and registry
  cmd/rama-installer/main.go
Due: check-secrets

feat: add theme selection to TUI installer
  cmd/rama-installer/main.go
Due: check-secrets

chore(pkg): regenerate .SRCINFO, drop obsolete searxng-rama-settings.yml
  .SRCINFO
  brand/screenshot.png
  searxng-rama-settings.yml
Due: check-secrets

ui: show selected theme in completion message
  cmd/rama-installer/main.go
Due: check-secrets

chore(installer): finalize cobra/viper -> bubbletea TUI migration
  go.mod
  go.sum
Due: none

build: support multiple themes in PKGBUILD
  PKGBUILD
Due: none

build: package RAMA redesign (LESS layer, fonts, template forks)
  PKGBUILD
  theme/google/definitions.less
  theme/rama/definitions.less
  theme/rama/fonts.less
  theme/rama/fonts/inter-latin-400-normal.woff2
  theme/rama/fonts/inter-latin-500-normal.woff2
  theme/rama/fonts/inter-latin-600-normal.woff2
  theme/rama/fonts/jetbrains-mono-latin-400-normal.woff2
  theme/rama/fonts/jetbrains-mono-latin-500-normal.woff2
  theme/rama/rama.less
  theme/rama/templates/index.html
  theme/rama/templates/results.html
Due: none

chore: restore remote git source after local smoke test
  PKGBUILD
Due: none

fix: update theme paths for installed structure
  cmd/rama-installer/main.go
Due: check-secrets

fix(pkg): copy fonts+templates after vite build (emptyOutDir wipes them)
  PKGBUILD
Due: none

feat: handle Google theme variants (light/dark)
  cmd/rama-installer/main.go
Due: check-secrets

feat(pkg): pre-build theme variants; move secret-key gen to post_install
  PKGBUILD
  searxng-rama.install
Due: none

feat(theme): unify redesign layout across themes via per-theme palettes
  docs/redesign/check-contrast.py
  theme/gen-variant.py
  theme/google/definitions.less
  theme/rama/definitions.less
  theme/rama/rama.less
Due: check-secrets

feat(install): canonical theme build script + cross-distro installer
  install.sh
  scripts/build-themes.sh
Due: check-secrets

feat(installer): swap pre-built CSS bundles for theme switching
  cmd/rama-installer/main.go
Due: check-secrets

fix(pkg): copy gen-variant.py into srcdir (theme loop copies only dirs)
  PKGBUILD
Due: none

fix(install): add Node>=20 floor (Debian ships 18; vite toolchain needs 20.12+)
  install.sh
Due: check-secrets

fix(install): use NodeSource for Node 20 (tarball npm skips rolldown binding)
  install.sh
Due: check-secrets

docs: record implementation status + E2E results on dev
  docs/plan-of-record-2026-07-23.md
Due: check-ai-content

fix(pkg): PrivateTmp on systemd unit — fixes cache-DB crash-loop
  PKGBUILD
Due: none

fix(rama): adapt home UI to real ion-icon/checkbox markup
  theme/rama/rama.less
Due: none

feat(design): lock design.md system; stage 1 shared app bar
  PKGBUILD
  design.md
  scripts/build-themes.sh
  theme/rama/rama.less
  theme/rama/templates/results.html
  theme/rama/templates/search.html
Due: check-ai-content, check-secrets

feat(results): stage 2 — Google-shaped result rail
  theme/rama/rama.less
  theme/rama/templates/results.html
Due: none

fix(categories): pill on the label, tab strip on results
  theme/rama/rama.less
Due: none

feat(preferences): stage 3 — Workbench shell for the app/content pages
  design.md
  docs/redesign/check-contrast.py
  theme/google/definitions.less
  theme/rama/definitions.less
  theme/rama/rama.less
  theme/rama/templates/page_with_header.html
Due: check-ai-content, check-secrets

feat(dist): per-channel theme switching — AUR script, Docker ENV
  .dockerignore
  Dockerfile
  PKGBUILD
  README.md
  docker-compose.yaml
  docs/plan-of-record-2026-07-23.md
  scripts/bootstrap-docker.sh
  scripts/docker-entrypoint.sh
  scripts/searxng-rama-theme
  searxng-rama.install
Due: check-ai-content, check-secrets

chore(release): bump frozen version to 1.1.0-RAMA
  Dockerfile
  PKGBUILD
Due: none

chore(release): pkgver r9625.ef8f647 (gate build verified)
  PKGBUILD
Due: none

fix(docker): classic-builder compatibility; refresh docs + screenshots
  AGENTS.md
  Dockerfile
  README.md
  brand/screenshot.png
  brand/screenshot_preferences.png
  brand/screenshot_search.png
  install.sh
Due: check-ai-content, check-secrets

docs: reword contributor-guide hook note so the guide passes the content check itself
  AGENTS.md
Due: check-ai-content

docs(readme): tighten prose
  README.md
Due: check-ai-content

Path conditions:
  check-ai-content: any of: \.(md|txt|rst|adoc)$
  check-secrets: any of: \.(yml|yaml|json|py|sh|go)$
