Repository Nomadcxx/searxng-RAMA: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ai-content, check-secrets

.pre-commit-config.yaml:

# Pre-commit hooks for SearXNG RAMA Edition
# Checks for AI-generated content and other quality issues

repos:
  # Local hooks
  - repo: local
    hooks:
      - id: check-ai-content
        name: Check for AI-generated content patterns
        entry: scripts/check-ai-content.sh
        language: script
        files: \.(md|txt|rst|adoc)$
        pass_filenames: false
        always_run: false
        
      - id: check-secrets
        name: Check for hardcoded secrets
        entry: scripts/check-secrets.sh
        language: script
        files: \.(yml|yaml|json|py|sh|go)$
        pass_filenames: false
        always_run: false

  # External hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict

docs(readme): install instructions first, house structure
  README.md
Due: check-ai-content

fix(theme): restore images tab gallery layout
  theme/rama/rama.less
Due: none

fix(installer): create service user, harden unit, freeze version
  cmd/rama-installer/main.go
Due: check-secrets

build(pkgbuild): stop shipping upstream .git into /opt/searxng-rama
  PKGBUILD
Due: none

fix(theme): UI/UX audit pass on shared workbench layer
  theme/rama/rama.less
Due: none

fix(theme): keep images-tab sidebar in upstream grid area
  theme/rama/rama.less
Due: none

chore(release): freeze version strings at 1.1.1-RAMA
  Dockerfile
  PKGBUILD
Due: none

chore(pkgbuild): sync pkgver to gate build
  PKGBUILD
Due: none

fix(theme): restore mobile results panel; stop home hero clipping
  theme/rama/rama.less
Due: none

feat(build): report the upstream SearXNG commit; one VERSION source
  AGENTS.md
  Dockerfile
  PKGBUILD
  VERSION
  cmd/rama-installer/main.go
  install.sh
  scripts/freeze-version.sh
Due: check-ai-content, check-secrets

fix(theme): UI/UX audit pass — focus, sizing, hierarchy, alignment
  docs/redesign/check-contrast.py
  theme/rama/rama.less
  theme/rama/templates/search.html
Due: check-secrets

fix(build): pin the upstream hash length across channels
  scripts/freeze-version.sh
Due: check-secrets

chore(pkgbuild): pkgrel 2 so AUR helpers offer 1.1.2
  PKGBUILD
Due: none

fix(theme): suggestions panel opens under the search bar; centre clear icon
  theme/rama/rama.less
Due: none

chore(release): 1.1.3
  VERSION
Due: none

chore(pkgbuild): pkgrel 3 for 1.1.3
  PKGBUILD
Due: none
